{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "ecmaFeatures": {
    "jsx": false,
    "classes": true,
    "modules": true
  },
  "rules": {
    "class-methods-use-this": ["error", { "exceptMethods": ["serialize"] }],
    "eol-last": 0,
    "eqeqeq": 1,
    "import/no-extraneous-dependencies": 0,
    "key-spacing": 0,
    "new-cap": 0,
    "no-alert": 0,
    "no-console": 0,
    "no-debugger":1,
    "no-empty": 0,
    "no-multi-spaces": 0,
    "no-trailing-spaces": 0,
    "no-undef": 2,
    "no-underscore-dangle": 0,
    "no-unused-vars": [1, {"vars": "local", "args": "none"}],
    "no-use-before-define": 0,
    "quotes": 0,
    "semi": 0,
    "space-infix-ops": 0,
    "strict": [2, "global"]
  },
  "globals" : {
    "document": false,
    "escape": false,
    "navigator": false,
    "unescape": false,
    "window": false,
    "describe": true,
    "before": true,
    "it": true,
    "expect": true,
    "sinon": true
  }
}