/.babelrc
/.editorconfig
/.eslintignore
/.eslintrc.json
/.gitattributes
/.gitignore
/.idea
/.mailmap
/.npmignore
/.npmrc
/.nvmrc
/.prettierignore
/.prettierrc
/.remarkrc
/.travis.yml
/LICENSE
/README.md
/changelog.md
/package-lock.json
/package.json
/renovate.json
/rollup.config.cli.mjs
/rollup.config.web.mjs
/src/
/test/
/yarn.lock
