/.editorconfig
/.eslintignore
/.eslintrc.json
/.gitattributes
/.gitignore
/.idea
/.npmignore
/.npmrc
/.nvmrc
/.prettierignore
/.prettierrc
/fallback-local-storage.js
/LICENSE
/README.md
/temp
/test
/test.js
/test/
/yarn.lock
